.notes{
    height: 310px;
    width: 310px;
    background-color: #fec89a;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
    scrollbar-width: thin;
    scrollbar-color: #d2a860 #fec89a;
 }

 .notes h1 {
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 24px;
    margin-bottom: 0px;
    position: relative;
    top: -2px;
    word-wrap: break-word;
  
  }

  .notes .d-flex {
    border-bottom: 2px solid #bc895a;
  }


 .delBtn {

    font-size: 25px;
    border: 1px solid transparent;
    background-color: #fec99a00;
    margin: 0px;
    border-radius: 50%;
  
  }
  .delBtn:hover {
    color: #de3939;
  }

.note-text{
    overflow-x: hidden;
    overflow-y: auto;
    height: 250px;
    /* width: 300px; */
}
.note-text p {
    font-family: 'Montserrat';
    word-spacing: 4px;
    line-height: 27px;
    font-size: 19px;   
    padding-right: 10px;
    padding-top:40px;
  }
  
  .note-text p::-webkit-scrollbar {
    width: 11px;
  }
  
  .note-text p::-webkit-scrollbar-track {
    background: #fec89a;
  }

  .note-text p::-webkit-scrollbar-thumb {
    background-color: #d2a860;
    border-radius: 20px;
    border: 0px none #ffffff;
  } 

